/*
    COLOR
*/
$text-df: #fffce1;

/*
    Z-INDEX
*/
$z-header: 10;
$z-floting: 20;
$z-select: 1;
$z-popup: 50;
$z-loading: 100;
$z-back: -1;

/*
    PATH
*/
$path-image: '@/assets/img';

/*
    FONT-WEIGHT
*/

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;
